@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0px;
  overflow: hidden;
}

#blueArea {
  background-color: #398dff;
  padding-bottom: 14%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  z-index: 0;
}

#blueArea .title {
  display: flex;
  text-align: center;
  margin-left: 3%;
  padding-top: 3%;
  font-size: 18px;
}

#blueArea a {
  margin-top: 10px;
}

#blueArea .data {
  margin-left: 5%;
  margin-top: 4%;
}
#detail {
  background-color: rgba(247, 247, 248, 0.85);
  height: 100%;
  box-shadow: 0px 10px 20px rgba(44, 37, 210, 0.05);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  white-space: nowrap;
  top: -50px;
  position: relative;
  backdrop-filter: blur(72px);
  z-index: 1;
}
#detail-button {

  background-color: rgba(57, 141, 255, 1);
  box-shadow: 8px 10px 20px rgba(57, 141, 255, 0.5);
  border-radius: 12px;
  border: 0.1px;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
  width: 60%;
  height: 5%;
  /* font-weight: bold; */
  font-size: 19px;
}
#itemCard {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    color: black;
    padding: 1rem;
    height: 30rem;
    top: 30;
    position: relative;
    border-width: 1px;
    border-color: rgba(57, 141, 255, 1);
    filter: drop-shadow(4px 5px 4px rgba(57, 141, 255,0.25));

  }

#detail-button2 {
  width: Zpx;
  height: 46px;
  box-shadow: 8px 10px 20px rgba(57, 141, 255, 0.2);
  border-radius: 12px;
  border-width: 0.5px;
  border-color: #398dff;
  margin-left: 15%;
  margin-top: 5%;
  color: white;
  width: 70%;
  height: 5%;
  /* font-weight: bold; */
  font-size: 19px;
  background-color: #fff;
  color: #398dff;
  margin-top: 5%;
  /* box-shadow: 8px 10px 20px rgba(255, 255, 255, 0.5); */
}
#info {
  margin-top: 50%;
  word-wrap: break-word;
  white-space: normal;
}
#textArea {
  margin-left: 7%;
  margin-right: 7%;
}




#itemCard img {
    margin-top: 5%;
    float: left;
    margin-left: 3%;
    /* margin-top: 5px; */
  }
  #itemCard .discount {
    position: absolute;
    font-family: Inter;
    font-weight: Semi Bold;
    opacity: 1;
    top: 9rem;
    left: 36.5%;
    text-align: right;
    font-size: 23px;
  }
  #itemCard .date {
    width: 232px;
    color: rgba(0, 16, 38, 1);
    position: absolute;
    top: 7rem;
    left: 10%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 13px;
    opacity: 0.75;
    text-align: right;
  }
  #itemCard .title {
    color: rgba(0, 16, 38, 1);
    position: relative;
    top: 25px;
    left: 30px;
    /* left: 30px; */
    font-family: Inter;
    font-weight: Bold;
    font-size: 18px;
    opacity: 0.75;
    text-align: right;
  }
  