@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0px;
}

#blueArea {
  background-color: #398dff;
  padding-bottom: 30%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  z-index: 0;
}

#blueArea .title {
  display: flex;
  text-align: center;
  margin-left: 3%;
  padding-top: 3%;
  font-size: 18px;
}

#blueArea .register-form {
  margin-top: 10%;
  display: grid;
  grid-gap: 3rem;
}

#blueArea .register-form-input {
  width: 70%;
  height: 200%;
  text-align: center;
  margin-left: 15%;
  border-radius: 30px;
}

#blueArea .register-form-button {
  width: 30%;
  height: 5%;
  text-align: center;
  margin-left: 35%;
  margin-top: 10%;
  border-radius: 30px;
}
#blueArea .subtitle {
  margin-top: 3%;
  margin-left: 3%;
  font-weight: semi-bold;
}
